body {
    text-align: left;
}

#score {
    font-size: 30px;
    font-weight: bold;
    margin-right: 200px;
    margin-left: 40px;
    text-align: right;
}

#player {
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
    text-align: left;
}
